<%= javascript_include_tag "scripts"%>
<%= stylesheet_link_tag "styles"%>
<!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

<body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="index.html">TourMBTI</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Portfolio</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Tour MBTI</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">내 근처의 관광지를 찾아보세요!</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section >
            <body>
                <!-- here to put map -->
                <div id="map" style="width:100%;height:600px;"></div>

                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=26615e282cdc1f69168ad914617bdd1a"></script>
                <script>
                var container = document.getElementById('map');
                var options = {
                    center: new kakao.maps.LatLng(37.558077168518395, 126.99176068992715),
                    level: 3
                };

                var map = new kakao.maps.Map(container, options);
                var marker = new kakao.maps.Marker({
                    position: map.getCenter()
                });
                marker.setMap(map);

                var xMap = 0;
                var yMap = 0;

                kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                    var latlng = mouseEvent.latLng;
                    marker.setPosition(latlng);

                    xMap = latlng.getLng()
                    yMap = latlng.getLat()
                });
                </script>
        </body>
        <p id="result"></p>
        <div class="text-center mt-4" style="padding:20px">
                <button class="btn btn-primary btn-xl" type="submit" onclick="FindTour()">내 주변의 관광지는?</button>
                <button class="btn btn-primary btn-xl" style="background-color: #bc1a5796; border-color: #bc1a5796" onClick="window.location.reload()">Reset</button>
        </div>

        <!-- TODO 더 이쁘게 만들기, page 번호 고려해서 더 출력할 수 있는가 찾아보기-->
        <div>
            <table class="table" id='mytable' border="1">
	            <thead>
                    <th>관광지</th>
                    <th>주소</th>
                    <th>키워드</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright &copy; Your Website 2022</small></div>
</div>